.profile-picture, .filter-profile-pic{
  width: 100px;
  height: 100px;
  background-size: cover;
}

#users{
  margin-top: 15px;
}
.user{
  display: inline-block;
  margin-right: 15px;
}

.map{
  width:500px;
  height:500px;
  margin: auto;
  background-position: center;
}
#map{
  height: 400px;
  width: 600px;
  margin: auto;
  margin-bottom: 40px;
}

.stop{
  text-align:center;
  width: 300px;
  height: 300px;
  border: 1px blue solid;
}
.stop-name{
  width: 250px;
  font-size: 20px;
}

#badge{
  width: 100px;
  height: 100px;
  background-image: url('/img/badges/default.png');
  background-size: cover;
}
#complete-checkmark{
  background-image: url("/img/task-complete.png");
  background-position : cover;
  width: 60px;
  height: 70px;
}
.badges-on-profile{
  width:75px;
  height: 75px;
  background-size:cover;
}
