extends ../shared/template

block content
  p. Please check your email to complete signup.

block script
  <script type="text/JavaScript">
<!--
setTimeout("location.href = 'http://www.natural-environment.com';",1500);
-->
</script>
