extends ../shared/template

block content
  h1= title
  .verify-email-container
    .text-container
      p Please check your email to complete signup.
      p
       | If page does not redirect in 5 seconds please click
       a(href='/') here
       |  to return home.

  script.
    var redirectTime = "4000";
    var redirectURL = "explore.terrenceljones.com";
    function timedRedirect() {
       setTimeout("location.href = redirectURL;",redirectTime);
     }
    timedRedirect()
