extends ../shared/template

block content
  p. Please check your email to complete signup.
  p
   | If page does not redirect in 5 seconds please click 
   a(href='/') here
   |  to return home.

  script.
    var redirectTime = "4000";
    var redirectURL = "http://localhost:3000/";
    function timedRedirect() {
       setTimeout("location.href = redirectURL;",redirectTime);
     }
    timedRedirect()
