each user in users
  -if(user.isProfileInitialized===true)
    .user-profile-index-page
      a(href='/#{user.username}')
        img.user-search-profile-picture(src='#{user.photo}')
      a(href='/#{user.username}')
        h5= user.name
