extends ../shared/template

block content
  h1= title

  label Register
  form#form-register(method='post', action='/signup')
    input(type='text', name='email', placeholder='Enter a Vaild Email', autofocus=true)
    button#submit-register Sign Up

  label Login
  form#form-login(method='post', action='/login')
    input#login-input-email(type='email', name='email', placeholder='Email Address')
    input#login-input-password(type='password', name='password', placeholder='Password')
    button#submit-login Login
